---
import type { GetStaticPathsResult } from "astro";

export function getStaticPaths(): GetStaticPathsResult {
  return [
    {
      params: {
        slug: "test",
      },
      props: {
        body: "Blog-Eintrag Text",
      },
    },
  ];
}

const { slug } = Astro.params;
const { body } = Astro.props;
---

<h1>Blog-Eintrag: {slug}</h1>
<p>{body}</p>
