---
import Layout from "../layouts/Layout.astro";
import Date from "../components/Date.astro";
import Card from "../components/Card.astro";
import ExampleButton from "../components/ExampleButton.astro";
import { getCollection, getEntry } from "astro:content";

const blogPosts = await getCollection("blog");
const authors = await getCollection("authors");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>

    <Card title="My title" body="Test" href="/blog/test" />

    <ExampleButton />
    <ExampleButton />
    <ExampleButton />
    <ExampleButton />

    <Date />

    <section>
      <h2>Blog-Einträge</h2>

      {
        blogPosts.map(async (post) => {
          const author = await getEntry(post.data.author);

          return (
            <a href={"blog/" + post.slug}>
              {post.data.title}
              <span>von {author.data.name}</span>
            </a>
          );
        })
      }
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
